include molSimplify/Data/*
include molSimplify/Ligands/*
include molSimplify/Bind/*
include molSimplify/Cores/*
include molSimplify/python_nn/*
include molSimplify/Docs/*
include molSimplify/Informatics/*
include molSimplify/icons/*
include molSimplify/icons/geoms/*
include molSimplify/icons/geoms_labels/*
include molSimplify/Substrates/*
include tests/inputs/*
include tests/refs/*
include tests/refs/*/*
include tests/README.txt
